@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Dancing+Script:wght@700&family=Inconsolata:wght@500&display=swap");
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.glowing {
  font-family: "Dancing Script", cursive;
  font-size: 70px;
  font-weight: 900;
  text-align: center;
  position: relative;
  top: 60px;
  color: gray;
  background-color: deeppink;
  width: 400px;
  left: 40%;
  border-radius: 40px;
}
.glowing span {
  display: table-cell;
  margin: 0;
  padding: 0;
  animation: animate 2s linear infinite;
  position: relative;
  left: 46px;
}
.glowing span:nth-child(1) {
  animation-delay: 0s;
}
.glowing span:nth-child(2) {
  animation-delay: 0.25s;
}
.glowing span:nth-child(3) {
  animation-delay: 0.5s;
}
.glowing span:nth-child(4) {
  animation-delay: 0.75s;
}
.glowing span:nth-child(5) {
  animation-delay: 1s;
}
.glowing span:nth-child(6) {
  animation-delay: 1.25s;
}
.glowing span:nth-child(7) {
  animation-delay: 1.5s;
}
@keyframes animate {
  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff;
  }
  5%,
  95% {
    color: #111;
    filter: blur(0px);
    text-shadow: 0 0 10px none;
  }
}
.part1 {
  height: 100vh;
  background-color: rgb(231, 25, 25);
  text-align: center;
}
h1 {
  position: relative;
  top: 50%;
}
.part3 {
  height: 100vh;
  background-color: rgb(70, 1, 116);
  text-align: center;
}
.swiper-wrapper {
  position: relative;
  top: 130px;
}
.swiper {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  display: flex;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
  background-color: rgb(234, 247, 56);
  /* background-image: url("texture.jpg"); */
  /* background-blend-mode: darken; */
  border-radius: 30px;
}

.swiper-slide img {
  display: block;
  width: 96%;
  height: 300px;
  padding: 10px;
  border-radius: 30px;
}
.details {
  padding: 10px;
  font-size: 17px;
  font-weight: 600;
  font-family: cursive;
  color: rgb(12, 1, 1);
  text-align: justify;
}
.left {
  position: relative;
  top: 50%;
  left: -92%;
  z-index: 1;
}
.left img {
  height: 60px;
}
.right {
  position: relative;
  top: 50%;
  left: -14%;
  z-index: 1;
}
.right img {
  height: 60px;
}
.swiper-button-prev::after {
  display: none;
}
.swiper-button-next::after {
  display: none;
}

.name {
  font-family: "Helvetica";
  position: relative;
  left: 85%;
  top: 30px;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    to right,
    rgb(76, 217, 105),
    rgb(52, 170, 220),
    rgb(88, 86, 217),
    rgb(255, 45, 83),
    rgb(255, 45, 83),
    rgb(88, 86, 217),
    rgb(52, 170, 220),
    rgb(76, 217, 105)
  );
  background-size: 400%;
  -webkit-background-clip: text;
  font-weight: 500;
  font-size: 4em;
  animation: sTransition 10s linear infinite;
}
@keyframes sTransition {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

@media only screen and (max-width: 1200px) {
  .glowing {
    position: relative;
    left: 35%;
  }
}
@media only screen and (max-width: 1025px) {
  .glowing {
    position: relative;
    left: 32%;
  }
}
@media only screen and (max-width: 900px) {
  .glowing {
    position: relative;
    left: 30%;
  }
}
@media only screen and (max-width: 769px) {
  .glowing {
    position: relative;
    left: 25%;
  }
}
@media only screen and (max-width: 600px) {
  .swiper-slide {
    width: 400px;
  }
  .right {
    left: -19%;
  }
  .glowing {
    position: relative;
    left: 18%;
  }
}
@media only screen and (max-width: 500px) {
  .swiper-slide {
    width: 340px;
  }
  .name {
    left: 79%;
  }
  .swiper-slide img {
    height: 265px;
    width: 95%;
  }
  .glowing {
    position: relative;
    left: 15%;
    font-size: 50px;
    width: 310px;
  }
}
@media only screen and (max-width: 450px) {
  .swiper-slide {
    width: 300px;
  }
  .name {
    left: 77%;
  }
  .swiper-slide img {
    width: 94%;
  }
}
@media only screen and (max-width: 370px) {
  .swiper-slide {
    width: 260px;
    height: 440px;
  }
  .name {
    left: 75%;
    font-size: 3.5em;
  }
  .swiper-slide img {
    width: 93%;
    height: 210px;
  }
  .details {
    font-size: 16px;
  }
  .left img {
    height: 50px;
  }
  .right img {
    height: 50px;
  }
  .glowing {
    position: relative;
    left: 8%;
    font-size: 50px;
    width: 310px;
  }
}
